{% extends "base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}

{% block content %}
    <!-- <div class="card">
        <form action="">
            <h1 class="card__title">Coloque suas informações do cartão</h1>
            <div class="card__row">
                <div class="card__col card__chip">
                    <img src="{% static 'img/chip.svg' %}" alt="chip">
                </div>
                <div class="card__coll">
                  <label for="cardNumber" class="card__label"></label><input type="text" class="card__input__large" id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX">
                </div>
            </div>
            <div class="card__row">
                <div class="card__coll"><label for="cardExpire"></label><input type="text" class="card__input__small" id="cardExpire" placeholder="XX/XX"></div>
                <div class="card__coll"><label for="cardCvv"></label><input type="text" class="card__input__small" id="cardCvv" placeholder="XXX"></div>
            </div>
            <div class="card__row">
                <div class="card__coll"><label for="cardHolder"></label><input type="text" class="card__input__small" id="cardHolder" placeholder="Holder Name"></div>
            </div>
        </form>
    </div> -->
    <div class="content-card">
        <h1 class="card__title">Coloque suas informações do cartão</h1>
        <div class="card ">
            <div class="card__flip">
                <div class="front">
                    <form action="">
                        <div class="card__row">
                            <div class="card__col card__chip">
                                <img src="{% static 'img/chip.svg' %}" alt="chip">
                            </div>
                            <div class="card__coll">
                            <label for="cardNumber" class="card__label">Card Number</label><input type="text" class="card__input__large " id="cardNumber" placeholder="XXXX-XXXX-XXXX-XXXX">
                            </div>
                        </div>
                        <div class="card__row coll_small">
                            <div class="card__coll "><label for="cardExpire">Expire card</label><input type="text" class="card__input__small" id="cardExpire" placeholder="XX/XX"></div>
                            <div class="card__coll"><label for="cardHolder">Holder name</label><input type="text" class="card__input__medium" id="cardHolder" placeholder="Holder Name"></div>
                        </div>
                    </form>
                </div>
                
                <div class="back">
                    <form action="">
                        <div class="card__row">
                            <div class="card__coll"><label for="cardCvv">Securit code</label><input type="text" class="card__input__small" id="cardCvv" placeholder="XXX"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



