{% extends "base.html" %}
{% load static%}
{% block title %}Pagina inicial{% endblock %}

{% block content %}
  <div class="img-all">
    <div class="">
        <img src="{% static 'img/5.jpg'%}" alt="" srcset="">
        <div class="info-slide">
            <h2>BarbRosa</h2>
            <p>O nosso melhor para você</p>
            
        </div>
    </div>
  </div>
  <div class="col-12 cont-in">
    
    <div class="filter-div ">
      <div class="filter-field">
        <h5>Por categoria</h5>
        {% for category in categorys %}
          <li class='list-filter'>
             <!-- <input class="filter-checkbox" type="checkbox" data-filter="category" value="{{category.id}}" type="checkbox"/> -->
             <input class="filter-checkbox" type="checkbox" name="category" value="{{category.id}}" type="checkbox"/>
              {{category.category}}
          </li>
        {% endfor %}
      </div>
      <div class="filter-field">
        <h5>Por genero</h4>
        {% for gender in genders %}
        
          <li class='list-filter'>
            <!-- <input class="filter-checkbox" type="checkbox" data-filter="gender" value="{{gender.id}}" type="checkbox"/> -->
            <input class="filter-checkbox" type="checkbox" name="gender" value="{{gender.id}}" type="checkbox"/>
              {{gender.get_gender_display}}
          </li>
        {% endfor %}
      </div>
      <div class="search-div">
        <form id="search-form">
          <input class="form-control" type="search" name="search" id="search" placeholder="Buscar Produto" value="{{ request.GET.search }}">
        </form>
          <i class="fas fa-search" id="search-btn"></i>
      </div>
        
    </div>
    <div id='filteredProducts'>
      <div class="grid">
        <p class="ajaxLoader">Loading...</p>
        {% for prod in products %}
        <div class="main-grid">
          <div class="img-vend">
            <a href="" class="href-fav">
                <div class="fav">
                    <i class="far fa-heart"></i>
                </div>
            </a>
            <img src="../../../uploads/{{ prod.upload }}" alt="Era pra aparecer uma imagem aqui!">
            <form method='POST' action='{% url "cart:update" %}' class="form href-car"> {% csrf_token %}
              <input type='hidden' name='product_id' value='{{ prod.id }}' />
              {% if prod in cart.products.all %}
                  <button type='submit' class='btn_car'>Produto no carrinho <i class="fas fa-cart-arrow-down"></i></button>
              {% else %}
                  <button type='submit' class='btn_car'>Adicinar ao carrinho <i class="fas fa-cart-plus"></i></button>
              {% endif %}
          </form>


          </div>
          
          <p>
            <a href="/view/{{prod.id}}">{{prod.title}}</a><br>
            R${{prod.price}}  
          </p>
          
        </div>
        {% endfor %}
      </div>
      <div aria-label="Page navigation example">
        <ul class="pagination ">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          {% for i in page_range %}
            <!-- <input style="opacity: 0; position: absolute;" class="page-next" type="radio" name="page" value="{{i}}"  id="id_page{{i}}">
            <label class="page-link"for="id_page" >{{i}}</label> -->
            <li class="page-item"><a class="page-link link_option" href="{{i}}">{{i}}</a></li>
          {% endfor %}
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
    
    
  </div>
  
{% endblock %}