{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block title %}Pagina inicial{% endblock %}

{% block content %}
    <h2>New post</h2>

    <div class="offset-1 col-10 list-div">
        <h1>Editando {{prod.title}}:</h1>
        <form method="POST" enctype= multipart/form-data>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Criar tarefas">
            <a class="btn btn-danger" href="/delete/{{prod.id}}">Excluir tarefas</a>
        </form>
    </div>
{% endblock %}