{% load static%}
<div class="grid">
  <p class="ajaxLoader">Loading...</p>
  {% for prod in products %}
  <div class="main-grid">
    <div class="img-vend">
      <a href="" class="href-fav">
          <div class="fav">
              <i class="far fa-heart"></i>
          </div>
      </a>
      <img src="../../../uploads/{{ prod.upload }}" alt="Era pra aparecer uma imagem aqui!">
      <form method='POST' action='{% url "cart:update" %}' class="form href-car"> {% csrf_token %}
        <input type='hidden' name='product_id' value='{{ prod.id }}' />
        {% if prod in cart.products.all %}
            <button type='submit' class='btn_car'>Produto no carrinho <i class="fas fa-cart-arrow-down"></i></button>
        {% else %}
            <button type='submit' class='btn_car'>Adicionar ao carrinho  <i class="fas fa-cart-plus"></i></button>
        {% endif %}
    </form>

    </div>
    
    <p>
      <a href="/view/{{prod.id}}">{{prod.title}}</a><br>
      R${{prod.price}}  
    </p>
    
  </div>
  {% endfor %}
</div>
<div aria-label="Page navigation example">
  <ul class="pagination ">
    <li class="page-item {%if page_atual == 1 %}disabled{%endif%}"><a class="page-link" href="{%if page_atual != 1 %}{{prev}}{%endif%}">Previous</a></li>
    {% for i in page_range %}
      <li class="page-item {% if page_atual == i %}active{%endif%}"><a class="page-link link_option" href="{{i}}">{{i}}</a></li>
    {% endfor %}
    <li class="page-item {%if page_atual == end %}disabled{%endif%}"><a class="page-link" href="{%if prox <= end %}{{prox}}{%endif%}">Next</a></li>
  </ul>
</div>
<script>
  var url = "{% static 'js/pagination.js' %}";
  $.getScript(url);
</script>